.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  margin: 40px auto;
  font-size: 20px;
  border-radius: 3px;
}

.label {
  font-size: 18px;
}

.hello {
  width: 100%;
  height: 35px;
  padding: 0 8px;
}

.submit {
  width: 100%;
  height: 35px;
  background-color: rgb(1, 27, 112);
  border-radius: 30px;
  color: white;
}

.link {
  text-decoration: none;
}
.para {
  size: 30px;
}
